body, html {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, #5900ff, #360099);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container button {
    padding: 15px 20px;
    border: transparent;
    border-radius: 15px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.container button:hover {
    background: #202020;
}

.container button:active {
    transform: scale(0.9);
}